header {
  background-color: cadetblue;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

div {
  padding: 15px;
}
img {
  height: 300px;
  display: flex;
  padding: 15px;
}
main {
  display: grid;
  grid-template-columns: 10% 35% 10% 35% 10%;
}
footer {
  height: 150px;
}
.preview {
  padding-top: 100px;
}
#aboutme {
  color: transparent;
}
#contactme {
  text-align: right;
}
