header {
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
div {
  padding: 15px;
}
img {
  height: 300px;
  display: flex;
  padding: 15px;
  /* min-width: 400px; */
}
#itsme {
  min-width: 400px;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}
footer {
  height: 150px;
}
.preview {
  padding: 75px;
}
.outline {
  border-radius: 15px;
  width: 500px;
  transition-property: box-shadow;
  transition-duration: 500ms;
  outline: solid light-dark(var(--light-outline), var(--dark-outline));
}
.outline:hover {
  box-shadow: 10px 10px;
}
#contactme {
  text-align: right;
}

@media (max-width: 850px) {
  .main {
    grid-template-columns: 1fr 1fr;
  }
  #img1 {
    grid-area: 1 / 2 / span 1;
  }
  #img2 {
    grid-area: 2 / 2 / span 1;
  }
  #img3 {
    grid-area: 3/ 2 / span 1;
  }
  #img4 {
    grid-area: 4/ 2 / span 1;
  }
  #itsme {
    min-width: 300px;
  }
}

:root {
  color-scheme: light dark;

  --light-bg: ghostwhite;
  --light-color: #2f4f4f;
  --light-code: tomato;
  --light-outline: rgb(177, 170, 170);

  --dark-bg: #020924;
  --dark-color: ghostwhite;
  --dark-code: gold;
  --dark-outline: #2f4f4f;
}
* {
  background-color: light-dark(var(--light-bg), var(--dark-bg));
  color: light-dark(var(--light-color), var(--dark-color));
}

.light {
  color-scheme: light;
}
.dark {
  color-scheme: dark;
}

#switch {
  height: 50px;
  width: 50px;
  padding: 0px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
  border: none;
}
#switch svg:last-child {
  display: none;
}

.dark #switch svg:first-child {
  display: none;
}
.dark #switch svg:last-child {
  display: block;
}
